<link rel="stylesheet" href="/static/style.css" type="text/css">
<link rel="stylesheet" href="/static/skeleton.css" type="text/css">

<!-- TODO: get placeholders working -->
{% macro render_field(field) %}
    <div class = "registration-text">
        {{ field.label }}
    </div>
    {{ field(**kwargs) |safe}}
        {% if field.errors %}
        <ul class=errors>
            {% for error in field.errors %}
                {{ error }}<br />
            {% endfor %}
        </ul>
        {% endif %}
{% endmacro %}
