{% extends "layout.html" %}

{% block body %}
<div class = "container">
    <div class = "row">
        <div class = "one columns">
            <a href="{{ url_for("load_home") }}">
                <button type="button" id="back-button">Back to Home</button>
            </a>
        </div>
        <div class = "eleven columns">
            <h3>Create New Album</h3>
        </div>
    </div>

    <script src="/static/scripts/portfolioLifeLib.js"></script>

    <div class = "container">
        <div class = "row" style="margin-top: 2em">
            <form method="POST" action="{{ url_for("submit_album") }}">
                <div class = "photo-grid">
                    {% for imageUrl, imageID in pictureArr %}
                        <input type="checkbox" id="{{ imageID }}" name="{{ imageID }}" value="{{ imageUrl }}" onclick="checkImageSelect(this.id);" style="display: none;"/>
                        <label for="{{  imageID }}"><img id="img{{ imageID }}" class="thumbnail" style="background-image:url({{imageUrl}}); background-size: cover; background-position: 50%; border:3px solid #FFFFFF" /></label>
                    {% endfor %}
                    <button type="submit" id="album-submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
