{% extends "layout.html" %}

{% block body %}
    <div class = "container">
        <div class = "row">
            <div class = "twelve columns">
                <h3>Your "{{ title }}" album was created!</h3>
            </div>
        </div>
        <div class = "row">
            <div class = "six columns">
                <a href="{{ url_for("load_home") }}">
                    <button type="button" id="back-button" >Back to Home</button>
                </a>
            </div>
            <div class = "six columns">
                <a href="{{ url_for("album_view", title=title, id=id) }}">
                    <button type="button" id="album-button">View {{ title }}</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
