{% extends "photoManageLayout.html" %}

{% block body %}

    {% if not session['logged_in'] %}
        <p>You're not logged in!</p>
    {% else %}
        <div class = "container">
            <div class = "home-content">
                <div class = "row">
                    <div class = "twelve columns">
                        <h3>Delete Photos</h3>
                    </div>
                </div>
                <p>Select a photo to delete.</p>
            </div>
        </div>
        <div class = "container">
            <div class = "row">
                <form action="{{ url_for("delete_file") }}" method="POST">
                    <ul class = "photo-grid">
                        {% for imageUrl in imageArr %}
                            <div class="thumbnail">
                                <li class="image-element">
                                    <a class="venobox" href="{{imageUrl["url"]}}">
                                        <input type="image" name="{{imageUrl["id"]}}" src="{{imageUrl["url"]}}" border="0" alt="Submit" />
                                    </a>
                                </li>
                            </div>
                        {% endfor %}
                    </ul>
                </form>
            </div>
        </div>

    {% endif %}

    <script src="/static/bower_components/jquery/dist/jquery.js"></script>
    <script src="/static/scripts/image-picker.min.js"></script>

{% endblock %}
