{% extends "photoManageLayout.html" %}

{% block body %}
<div class = "container">
    <div class = "row">
        <div class = "twelve columns">
            <h3> Delete Photo</h3>
            <p>
                (click on photo to delete)
            </p>
        </div>
    </div>
    <div class = "row">
        <div class = "twelve columns">
            {% for imageUrl in imageUrlArr %}
            <a href = ""><img src= "{{imageUrl}}" /></a>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
