{% extends "photoManageLayout.html" %}

{% block body %}

    {% if not session['logged_in'] %}
        <p>You're not logged in!</p>
    {% else %}
        <div class = "container">
            <div class = "home-content">
                <div class = "row">
                    <div class = "twelve columns">
                        <h3>Delete Photos</h3>
                    </div>
                </div>
                <div class = "row">
                    <div class = "six columns">
                        <div class="delete">
                            <a href="{{ url_for('load_delete') }}">Delete Photos</a>
                            {# TODO url_for delete button #}
                        </div>
                    </div>
                </div>
                <div class = "row">
                    <div class = "six columns">
                        <select multiple="multiple" class="image-picker show-html">
                            {% for imageUrl in imageArr %}
                                <option data-img-src="{{ imageUrl }}" value=" {{ loop.index0 }}">picture {{ loop.index0 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class = "container">
            <div class = "row">
                <ul class = "thumbnails image_picker_selector">
                    {% for imageUrl in imageArr %}
                        <li>
                            <div class = "thumbnail">
                                <img src="{{imageUrl}}" class="image_picker_image">
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    {% endif %}

    <script src="/static/bower_components/jquery/dist/jquery.js"></script>
    <script src="/static/scripts/image-picker.min.js"></script>

{% endblock %}
