{% extends "layout.html" %}

{% block body %}

{% if not session['logged_in'] %}
    <p>You're not logged in!</p>
{% else %}
    <div class="home-menu">
        <ul class="home-bar">
          <li class="home-bar-item first"><a class="home-link" href="{{ url_for("load_home") }}">My Photos</a></li>
          <li class="home-bar-item second"><a class="home-link active" href="{{ url_for("load_home_albums") }}">My Albums</a></li>
        </ul>
    </div>
    <div class="logout">
        <input type="text" id="link-box" placeholder="Search"/>
        <input type="button" id="search-button" value="Search" style="background-color: white"/>
    </div>
    <div class = "container">
        <div class = "home-content">
            <div class = "row">
                <div class = "twelve columns">
                    <h3>Welcome!</h3>
                </div>
            </div>
            <div class = "row">
                <div class = "four columns">
                    <div class="upload">
                        <a href="{{ url_for('load_upload') }}">Upload Photos</a>
                    </div>
                </div>
                <div class = "four columns">
                    <div class="delete-photo">
                        <a href="{{ url_for('load_delete') }}">Delete Photos</a>
                    </div>
                </div>
                <div class = "four columns">
                    <div class="add-album">
                        <a href="{{ url_for('load_create_album') }}">Add New Album</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class = "container">
        <div class = "row" style="margin-top: 2em">
            <ul>
                {% for albumTitle, albumID in albumData %}
                    <a href= "{{ url_for("album_view", title=albumTitle, albumId=albumID) }}">
                        <li>{{ albumTitle }}</li>
                    </a>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endif %}
{% endblock %}
