{% extends "layout.html" %}

{% block body %}

{% if not session['logged_in'] %}
    <p>You're not logged in!</p>
{% else %}
    <div class = "container">
        <div class = "row">
            <div class = "home-content">
                <div class = "twelve columns">
                    <h3>Welcome!</h3>
                </div>
                <div class = "three columns">
                    <div class="upload">
                        <a href="{{ url_for('load_upload') }}">Upload Photos</a>
                    </div>
                </div>
                <div class = "three columns">
                    <div class="delete">
                        <a href="{{ url_for('load_delete') }}">Delete Photos</a>
                    </div>
                </div>
                <div class = "three columns">
                    <dic class="pictures">
                        <p>Pictures go here.</p>
                    </dic>
                </div>
                <div class = "three columns">
                    <div class="albums">
                        <p>Albums go here.</p>
                    </div>
                </div>
            </div>
        </div>
            <!-- <div>
                <img src= "{{ imageUrl }}" />
            </div> -->
    </div>
    <div class = "container">
        <div class = "photo-row">
            <div class ="photo-col">
                <a href="https://placeholder.com"><img src="http://via.placeholder.com/350x150"></a>
                <a href="https://placeholder.com"><img src="http://via.placeholder.com/200x150"></a>
                <a href="https://placeholder.com"><img src="http://via.placeholder.com/100x150"></a>
                <a href="https://placeholder.com"><img src="http://via.placeholder.com/350x200"></a>
            </div>
        </div>
    </div>
{% endif %}

{% endblock %}
