{% extends "layout.html" %}

{% block body %}

{% if not session['logged_in'] %}
    <p>You're not logged in!</p>
{% else %}
    <div class = "container">
        <div class = "home-content">
            <div class = "row">
                <div class = "twelve columns">
                    <h3>Welcome!</h3>
                </div>
            </div>
            <div class = "row">
                <div class = "six columns">
                    <div class="upload">
                        <a href="{{ url_for('load_upload') }}">Upload Photos</a>
                    </div>
                </div>
                <div class = "six columns">
                    <div class="delete">
                        <a href="{{ url_for('load_delete') }}">Delete Photos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class = "container">
        <div class = "row">
            <div class = "twelve columns">
                <div class = "select-activate">
                    <button class="button-primary" id="select-photo" onclick="runSelect()">Click to Disable Gallery</button>
                </div>
            </div>
        </div>
        <div class = "row" style="margin-top: 2em">
                <div class = "photo-grid">
                        {% for imageUrl, imageID in pictureArr %}
                            <!-- <div class = "edits">
                                <div class = "tag" href="{{url_for('view_image', image_id = imageID)}}">
                                    <i class="fas fa-tag fa-2x"></i>
                                </div>
                                <div class = "trash">
                                    <i class="fas fa-trash-alt fa-2x"></i>
                                </div>
                            </div>
                            <div class = "tag" href="{{url_for('view_image', image_id = imageID)}}">
                                <i class="fas fa-tag fa-2x"></i>
                            </div> -->
                            <!-- <div class = "edit">
                                <i class="fas fa-tag fa-2x"></i>
                            </div> -->
                            <a class="venobox" data-gall="myGallery" data-title="{{imageUrl}}" href= "#" data-href="{{imageUrl}}">
                                <div class = "thumbnail" style="background-image:url({{imageUrl}}); background-size: cover; background-position: 50%">
                                    <div class = "image-tags">
                                        #tags
                                    </div>
                                </div>
                                <a class="edit" href = "http://google.com"><i class="fas fa-tag fa-2x"></i></a>
                            </a>
                        {% endfor %}
                </div>
        </div>
    </div>

{% endif %}
<script src="/static/bower_components/jquery/dist/jquery.js"></script>
<script src="/static/scripts/venobox.min.js"></script>
<script src="/static/scripts/fontawesome-all.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
    $('.venobox').venobox({
    titleattr: 'data-title',    // default: 'title'
    titlePosition: 'bottom'
});

});
function runSelect(venobox) {
    var test = $('.venobox').venobox();
    test.removeData();
}

function runGallery() {
    $('.venobox').venobox();
}
</script>
{% endblock %}
