<!doctype html>
<title>PortfolioLife</title>
<link rel="stylesheet" href="/static/skeleton.css" type="text/css">
<link rel="stylesheet" href="/static/login.css" type="text/css">

<div class=page>
    <div class="title-bar">
        <a href="{{ url_for('load_home') }}">
            <div class="title-text">
                PortfolioLife
            </div>
        </a>
        <div class="logout">
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>
    </div>
    <div class="spacer">
        &nbsp;
    </div>

    {% block body %}
    {% endblock %}

    <footer>

    </footer>
</div>
