<!DOCTYPE html>
<title>PortfolioLife</title>
<head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>PortfolioLife</title>
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Quicksand:300" rel="stylesheet">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="/static/normalize.css">
    <link rel="stylesheet" href="/static/skeleton.css">
    <link href="/static/style.css" rel="stylesheet">

    <!-- VENOBOX CSS -->
    <link rel="stylesheet" href="/static/venobox.css">

    <link rel="stylesheet" href="/static/bootstrap-tagsinput.css" />




    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="assets/favicon.png">
</head>
<!-- <nav class = "navbar">
        <div class = "container">
            <div class = "row">

                <ul class = "navbar-list">
                    <li class="navbar-item">
                        <a href={{url_for('load_home')}}>PORTFOLIOLIFE</a>
                    </li>
                    <li>
                        UPLOAD PHOTOS
                    </li>
                </ul>
            </div>
        </div>
    </nav> -->
<div class="title-bar">
    <a href="{{ url_for('load_home') }}">
        <div class="title-text">
            Portfolio<b>Life</b>
        </div>
    </a>

    {% if session.get('logged_in') %}
        <div class="logout">
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>
        </div>
    {% else %}
    {% endif %}
</div>
<div class="spacer">
    &nbsp;
</div>


{% block body %}
{% endblock %}

<div class="spacer">
    &nbsp;
</div>
<div class="spacer">
    &nbsp;
</div>
<!--<footer>-->
<div class="footer-bar">
    {% if session.get('logged_in') %}
        <div class="footer-voice">
            <form action="{{ url_for('process_audio') }}" method="post" id="audioForm">
                <text id="results-viewer"></text>
                <input type="hidden" value="" name="transcript" id="transcript" />
                <div id="results">
                  <span class="final" id="final_span"></span> <span class="interim" id=
                  "interim_span"></span>
                </div>
                <script src="/static/scripts/voice-control.js"></script>
                <button onclick="startButton(event);" type="button" id="voice-button">How can we help you?</button>
            </form>
        </div>
    {% endif %}

    <div class="footer-text">
        Created by <b>The Curators</b>
    </div>
</div>
<!--</footer>-->


<!--</div>-->
