{% extends "layout.html" %}

{% block body %}
    <div class = "container">
        <div class = "row">
            <div class = "twelve columns">
                <a href="{{ url_for("load_home") }}">
                    <button type="button" id="back-button" >Back to Home</button>
                </a>
            </div>
        </div>
    </div>
    <div class = "container">
        <div class = "row">
            <div class = "twelve columns">
                <p>Whoops! We couldn't recognize what you meant by:</p>
                <br/>
                <p>{{ transcript }}</p>
                <br/>
                <p>You can go back to the homepage or try another voice command!</p>
            </div>
        </div>
    </div>
{% endblock %}
`