{% extends "layout.html" %}

{% block body %}
    {% from "_formhelpers.html" import render_field %}
    <h2>Registration</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    {{ message }} <br />
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div class="registration">
        <form method=post>
            <dl>
                {{ render_field(form.username) }}
                {{ render_field(form.email) }}
                {{ render_field(form.password) }}
                {{ render_field(form.confirm) }}
            </dl>
            <p><input type=submit value=Register></p> 
        </form>
    </div>
{% endblock %}
