{% extends "layout.html" %}

{% block body %}

{% if not session['logged_in'] %}
    <p>You're not logged in!</p>
{% else %}
<div class = "container">
    <div class = "home-content">
        <div class = "row">
            <div class = "twelve columns">
                <h3>Edit Photo</h3>
            </div>
        </div>
    </div>
</div>

<div class = "container">
    <div class = "photo-display">
        <div class = "row">
            <div class = "twelve columns">
                <img class = "image-display" src="{{imageURL}}" />
            </div>
        </div>
    </div>
</div>

<center>
<input type="text" value="" data-role="tagsinput" placeholder="Add tags" />
</center>
{% endif %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js">></script>
<script src="/static/scripts/bootstrap-tagsinput.js"></script>
<script>
    $('input').tagsinput({
      allowDuplicates: false
    });
</script>

{% endblock %}
