{% extends "layout.html" %}
{% block title %}
    PortfolioLife - Edit Image Tags
{% endblock %}


{% block body %}

{% if not session['logged_in'] %}
    <p>You're not logged in!</p>
{% else %}
<div class = "container">
    <div class = "home-content">
        <div class = "row">
            <div class = "twelve columns">
                <h3>Edit Photo</h3>
            </div>
        </div>
    </div>
</div>

<div class = "container">
    <div class = "photo-display">
        <div class = "row">
            <div class = "twelve columns">
                <img class = "image-display" src="{{imageURL}}" />
            </div>
        </div>
    </div>
</div>

<center>
<input type="text" value="" placeholder= "" data-role="tagsinput" />
</center>

<span id="result"></span>
<div class = "container">
    <div class = "row">
        <div class="twelve columns">
            <a class="button" id="save-tags" href="#">Submit Tags</a>
        </div>
    </div>
</div>
{% endif %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js">></script>
<script src="/static/scripts/bootstrap-tagsinput.js"></script>
<script>
    $('input').tagsinput({
      allowDuplicates: false
    });

    // $.getJSON($SCRIPT_ROOT + '/image/', {
    //     wordlist = JSON.stringify(list)
    //     console.log(wordlist)},
    //     function(data) {
    //         console.log(data.result)
    //         $("#result").text(data.result);
    //     })

    document.getElementById("save-tags").onclick = function() {myFunction()};

    function myFunction() {
        var imageid = "{{ imageID }},";
        var imageurl = "{{ imageURL }},";
        var list = $("input").tagsinput('items');
        console.log(list[1]);
        var javascript_data = JSON.stringify(imageurl + imageid + list[1]);
        console.log(javascript_data);
        $.ajax({
            url: '/image/{{ imageID }}/tagged',
            data: javascript_data,
            contentType: 'application/json;charset=UTF-8',
            type: 'POST',
            success: function(response) {
                console.log(response);
            },
            error: function(error) {
                console.log(error);
            }
        });

    }
</script>

{% endblock %}
