{% extends "layout.html" %}
{% block head %}
<!-- TAGS INPUT -->
<link href="/static/bootstrap-tagsinput.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css">

{% endblock %}
{% block body %}

{% if not session['logged_in'] %}
    <p>You're not logged in!</p>
{% else %}
<div class = "container">
    <div class = "home-content">
        <div class = "row">
            <div class = "twelve columns">
                <h3>Edit Photo</h3>
            </div>
        </div>
    </div>
</div>

<div class = "container">
    <div class = "photo-display">
        <div class = "row">
            <div class = "twelve columns">
                <img class = "image-display" src="{{imageURL}}" />
            </div>
        </div>
    </div>
</div>

<center>
<input type="text" value="" data-role="tagsinput" placeholder="Add tags" />
</center>
{% endif %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js">></script>
<script src="/static/scripts/bootstrap-tagsinput.js"></script>
<script>
    $('input').tagsinput({
      allowDuplicates: false
    });
    var list = $("input").tagsinput('items');
    console.log(list);

    $.getJSON($SCRIPT_ROOT + '/image/', {
        wordlist = JSON.stringify(list)
        console.log(wordlist)},
        function(data) {
            console.log(data.result)
            $("#result").text(data.result);
        })
</script>

{% endblock %}
