<link rel="stylesheet" href="/static/skeleton.css" type="text/css">
<link rel="stylesheet" href="/static/login.css" type="text/css">

{% block body %}
<div id="fb-root"></div>
<!-- <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=1987111774844195';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
});</script> -->

{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}


<form action="/login" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>PortfolioLife <br />Login</h1>
			</div>

			<div class="login-form">
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="username" name="username">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

				<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="password" name="password">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>

                <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block" >
			    <br>
                <a href="registration">Don't have an account? Register here.</a>
			</div>
		</div>
	</div>
</form>

{% endif %}
<footer>


</footer>

{% endblock %}
