<link rel="stylesheet" href="/static/skeleton.css" type="text/css">
<!-- <link rel="stylesheet" href="/static/login.css" type="text/css"> -->

{% from "_formhelpers.html" import render_field %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<form method=post>
  <dl>
    {{ render_field(form.username) }}
    {{ render_field(form.email) }}
    {{ render_field(form.password) }}
    {{ render_field(form.confirm) }}
  </dl>
  <p><input type=submit value=Register></p>
</form>
